/*
*{
    border: 0px;
    margin: 0px;
    padding: 0px;
}
*/

div.container {
    width: 1500px;
    border: 3px dashed black;
}

div.topNavBar {
    height: 100px;
    border: 2px solid red;
}

div.sideNavBar {
    display: inline-block;
    width: 160px;
    border: 2px solid blue;
    background: gray;
    vertical-align: top;
}

div.mainWindow {
    display: inline-block;
    width: 1300px;
    background: lightgray;
    border: 2px solid green;
}
div.addGear {
    min-width: 120px;
    min-height: 200px;
    border: 3px solid black;
    border-radius: 15px;
    padding: 15px;
    display: inline-block;
    vertical-align: top;
}
div.addGearControlBar {
    display: block;
    border: 2px solid black;
    
}
div.gearboxCameras {
    border: 2px solid red;
}
div.gearboxLenses {
    border: 2px solid blue;
}
div.gearboxBags {
    border: 2px solid yellow;
}
div.gearboxRow {
    min-height: 120px;
    display: block;
    padding: 25px;
}
div.gearItem {
    border: 2px solid gray;
    border-radius: 12px;
    vertical-align: top;
    overflow: hidden;
    background: white;
}
img.gearItem {
    width: 75px;
    display: block;
    margin: auto;
}
div.addGearboxItem {
    vertical-align: top;
    display: inline-block;
}

div.flippable, div.flipFront, div.flipBack {
    width: 120px;
    height: 150px;
}

div.flippable {
    perspective: 1000px;
    display: inline-block;
}

div.flipCard {
    transition: 0.5s;
    transform-style: preserve-3d;
    position: relative;
}

div.flipped {
    transform: rotateY(180deg);
    
}

div.flipFront, div.flipBack {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

div.flipFront {
    transform: rotateY(0deg);
}

div.flipBack {
    transform: rotateY(180deg);
}
