/*
*{
    border: 0px;
    margin: 0px;
    padding: 0px;
}
*/

div.container {
    width: 1500px;
    border: 3px dashed black;
}

div.topNavBar {
    height: 100px;
    border: 2px solid red;
}

div.sideNavBar {
    display: inline-block;
    width: 160px;
    border: 2px solid blue;
    background: gray;
    vertical-align: top;
}

div.mainWindow {
    display: inline-block;
    width: 1300px;
    background: lightgray;
    border: 2px solid green;
}
div.addGear {
    min-width: 120px;
    min-height: 200px;
    border: 3px solid black;
    border-radius: 15px;
    padding: 15px;
    display: inline-block;
    vertical-align: top;
}
div.addGearControlBar {
    display: block;
    border: 2px solid black;
    
}
div.gearboxCameras {
    border: 2px solid red;
}
div.gearboxLenses {
    border: 2px solid blue;
}
div.gearboxBags {
    border: 2px solid yellow;
}
div.gearItem {
    border: 2px solid gray;
    border-radius: 12px;
    min-height: 100px;
    min-width: 75px;
    padding: 12px;
    display: inline-block;
    margin: 5px;
    vertical-align: top;
    overflow: hidden;
    background: white;
}
img.gearItem{
    width: 120px;
    display: block;
    margin: auto;
}