<H1>Cameras List</H1>
{{manufacturer.name}}

<div class="cameraInput" style="border: 2px solid black; padding: 10px;">
    <form ng-submit="addCamera()">
        <p>_id <input type="text" ng-model="camera._id" disabled></p>
        <p>Type 
            <select ng-model="camera.type">
                <option value="DSLR">DSLR</option>
                <option value="Mirrorless">Mirrorless</option>
                <option value="Rangefinder">Rangefinder</option>
                <option value="Medium Format">Medium Format</option>
                <option value="Point & Shoot">Point & Shoot</option>
                <option value="Film SLR">Film SLR</option>
                <option value="Film Point & Shoot">Film Point & Shoot</option>
                <option value="Action">Action</option>
            </select>
        </p>
        <p>Name <input type="text" ng-model="camera.name"></p>
        <p>Model <input type="text" ng-model="camera.model"</p>
        <p>Megapixel <input type="number" step=0.1 ng-model="camera.megapixel"></p>
        <p>Crop <input type="number" step=0.1 ng-model="camera.crop"></p>
        <p>Sensor 
            <select ng-model="camera.sensor">
                <option value="FullFrame">35mm Full Frame</option>
                <option value="APSC">APSC Cropped</option>
                <option value="m43">Micro 4/3</option>
                <option value="Medium">Medium Format</option>
                <option value="PnS">Point and Shoot</option>
            </select>
        </p>
        <p>Mountable: |<span ng-repeat="(mount, enabled) in mounts"><input type="checkbox" ng-model="mounts[mount]">{{mount}} |</span></p>
        <p>Fixed Lens: <input type="text" ng-model="camera.fixedLens"></p>
        <p>35mm Equivalent: <input type="text" ng-model="camera.equivLens"></p>
        <p>Weight <input type="number" ng-model="camera.weight"></p>
        <p>Price $<input type="number" step=0.01 ng-model="camera.price"></p>
        <p>Year Released <input type="number" ng-model="camera.year"></p>
        <p>Quarter Released <input type="number" ng-model="camera.quarter"></p>
        <p>Amazon Keywords <input type="text" ng-model="camera.amazonKeywords"></p>
        <p>Amazon ASIN <input type="text" ng-model="camera.amazonASIN"></p>
        <p>gearboxPic <input type="text" ng-model="camera.gearboxPic"></p>
        <p><img ng-src="{{camera.gearboxPic}}"></p>
        <button type="submit">Submit</button><br>
        <button type="button" ng-click="clearCameraForm()">Clear Form</button>
    </form>
    <p style="color:red" ng-repeat="error in errors">
        {{error}}
    </p>
</div>
<div class="cameraList" style="border: 2px solid black; paddin: 10px; margin-top: 10px;">
    <table>
        <thead>
            <tr>
                <th>Camera Name</th>
                <th>Model</th>
                <th>Type</th>
                <th>Mountable</th>
                <th>Megapixel</th>
                <th>Crop</th>
                <th>Sensor</th>
                <th>Weight</th>
                <th>Price</th>
                <th>Year - Quarter</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="camera in cameras">
                <td>{{camera.name}}</td>
                <td>{{camera.model}}</td>
                <td>{{camera.type}}</td>
                <td>{{camera.mountable}}</td>
                <td>{{camera.megapixel}}</td>
                <td>{{camera.crop}}</td>
                <td>{{camera.sensor}}</td>
                <td>{{camera.weight}}</td>
                <td>{{camera.price}}</td>
                <td>{{camera.year}} - {{camera.quarter}}</td>
                <td><button ng-click="editCamera(camera)">Edit</button></td>
                <td><button ng-click="deleteCamera(camera._id)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>