<h1>card template</h1>


<!--- card back --->
<div class="cardContainer">
    <div class="cardBack">
        <div class="cardBackHeader">
            Serial :
        </div>
        <div class="cardBackDescription">
            Description: 
        </div>
        <div class="cardBackNotes">
            Notes: 
        </div>
        <div class="cardBackFooter">
            <div class="cardBackFooterModel">
                Model: 
            </div>
            <div class="cardBackFooterPrice">
                MSRP: 
            </div>
        </div>
    </div>
</div>


<br><br>

<!-- card front --->

<div class="cardContainer">
    <div class="cardFront">
        <div class="cardFrontHeader">
            <div class="cardFrontHeaderName">
                
            </div>
            <div class="cardFrontHeaderWeight">
                
            </div>
        </div>
        
        <div class="cardFrontImage">
            
        </div>
        
        <div class="cardFrontMidBar">
            <div class="cardFrontMidbarType">
                
            </div>
            <div class="cardFrontMidbarBadges">
                
            </div>
        </div>
        
        <div class="cardFrontMainInfo">
            <div class="cardFrontMainInfoCell">
                
            </div>
            <div class="cardFrontMainInfoCell">
                
            </div>
            <div class="cardFrontMainInfoCell">
                
            </div>
            <div class="cardFrontMainInfoCell">
                
            </div>
            <div class="cardFrontMainInfoCell">
                
            </div>
            <div class="cardFrontMainInfoCell">
                
            </div>
        </div>
        
        <div class="cardFrontFooter">
            
        </div>
    </div>
</div>

<br><br>
