
<div class="container">
    <div class="topNavBar">
        
    </div>
    <side-nav-bar>
    </side-nav-bar>

    <div class="mainWindow">
        <div class="gearboxCameras gearboxRow">
            <h2>Cameras</h2>
            
<!--            Sample Flippable draggable card-->
<!--
            <div class="flippable" ng-repeat="camera in cameras" draggable>
                <div class="flipCard" dblclickflip>
                    <div class="gearItem gearboxItem flipFront">
                        <h3>{{camera.name}}</h3>
                        <img class="gearItem" ng-src="{{camera.fk_item.gearboxPic}}">
                    </div>
                    <div class="gearItem gearboxItem flipBack">
                        <h3>{{camera.serial}}</h3>
                        <img class="gearItem" ng-src="{{camera.fk_item.gearboxPic}}">
                    </div>
                </div>
            </div>
-->
<!--            Sample Flippable draggable card            -->
            
            <!-- New detailed card -->
            <div class="flippable" ng-repeat="camera in cameras" draggable>
                <div class="flipCard" dblclickflip>
                    <div class="flipFront">
                        <div class="cardContainer">
                            <div class="cardFront">
                                <div class="cardFrontHeader">
                                    <div class="cardFrontHeaderName">
                                        {{camera.name}}
                                    </div>
                                    <div class="cardFrontHeaderWeight">
                                        {{camera.fk_item.weight}}
                                    </div>
                                </div>

                                <div class="cardFrontImage" style="background-image: url('{{camera.fk_item.gearboxPic}}')">

                                </div>

                                <div class="cardFrontMidBar">
                                    <div class="cardFrontMidbarType">

                                    </div>
                                    <div class="cardFrontMidbarBadges">

                                    </div>
                                </div>

                                <div class="cardFrontMainInfo">
                                    <div class="cardFrontMainInfoCell">
                                        
                                    </div>
                                    <div class="cardFrontMainInfoCell">

                                    </div>
                                    <div class="cardFrontMainInfoCell">

                                    </div>
                                    <div class="cardFrontMainInfoCell">

                                    </div>
                                    <div class="cardFrontMainInfoCell">

                                    </div>
                                    <div class="cardFrontMainInfoCell">

                                    </div>
                                </div>

                                <div class="cardFrontFooter">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flipBack">
                        <div class="cardContainer">
                            <div class="cardBack">
                                <div class="cardBackHeader">
                                    Serial : <span class="cardBackText">{{camera.serial}}</span>
                                </div>
                                <div class="cardBackDescription">
                                    Description: <span class="cardBackText">{{camera.description}}</span>
                                </div>
                                <div class="cardBackNotes">
                                    Notes: <span class="cardBackText">{{camera.notes}}</span>
                                </div>
                                <div class="cardBackFooter">
                                    <div class="cardBackFooterModel">
                                        Model: <span class="cardBackText">{{camera.fk_item.model}}</span>
                                    </div>
                                    <div class="cardBackFooterPrice">
                                        MSRP: <span class="cardBackText">${{camera.fk_item.price}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- New detailed card -->          
            
            <div class="addGearboxItem" ng-show="addCameraWindow">
                <form ng-submit="addGearboxItem('camera')">
                    <p>Name: <input type="text" ng-model="newCamera.name"></p>
                    <p>Serial: <input type="text" ng-model="newCamera.serial"></p>
                    <table>
                        <tr>
                            <td>Manufacturer: </td>
                            <td>
                                <select ng-model="cameraManufacturerID" ng-change="changeCameraManufacturer()">
                                    <option value="custom">Custom</option>
                                    <option ng-repeat="manufacturer in manufacturers" value="{{manufacturer._id}}">{{manufacturer.name}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Type: </td>
                            <td>
                                <select ng-model="targetCamera.type" ng-change="changeCameraManufacturer()">
                                    <option value="custom">Custom</option>
                                    <option ng-repeat="type in types" value="{{type}}">{{type}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Cameras: </td>
                            <td>
                                <select ng-model="newListCamera" ng-change="updateNewCameraPicture()">
                                    <option ng-repeat="listCamera in targetCameras" value="{{listCamera._id}}<->{{listCamera.gearboxPic}}">{{listCamera.name}}</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <img class="gearItem" ng-src="{{newCameraPic}}">
                    <button type="submit">Submit</button>
                    <button type="button" ng-click="toggleAddCamera()" ng-show="addCameraWindow">Cancel</button>
                </form>
            </div>
            <div style="display: inline-block; vertical-align: top;">
                <button type="button" ng-click="toggleAddCamera()" ng-show="!addCameraWindow">Add Camera</button>
            </div>
        </div>
        
        <div class="gearboxLenses gearboxRow">
            <h2>Lenses</h2>
<!--            Original lens divs-->
<!--
            <div class="gearItem" ng-repeat="lens in lenses">
                <h3>{{lens.name}}</h3>
                <img class="gearItem" ng-src="{{lens.fk_lens.gearboxPic}}">
            </div>
-->
            
<!--            New flippable lens cards-->
            <div class="flippable" ng-repeat="lens in lenses" draggable>
                <div class="flipCard" dblclickflip>
                    <div class="gearItem gearboxItem flipFront">
                        <h3>{{lens.name}}</h3>
                        <img class="gearItem" ng-src="{{lens.fk_item.gearboxPic}}">
                    </div>
                    <div class="gearItem gearboxItem flipBack">
                        <h3>{{lens.serial}}</h3>
                        <img class="gearItem" ng-src="{{lens.fk_item.gearboxPic}}">
                    </div>
                </div>
            </div>
<!--            New flippable lens cards-->
            <div class="addGearboxItem" ng-show="addLensWindow">
                <form ng-submit="addGearboxItem('lens')">
                    <p>Name: <input type="text" ng-model="newLens.name"></p>
                    <p>Serial: <input type="text" ng-model="newLens.serial"></p>
                    <table>
                        <tr>
                            <td>Manufacturer: </td>
                            <td>
                                <select ng-model="lensManufacturerID" ng-change="changeLensManufacturer()">
                                    <option value="custom">Custom</option>
                                    <option ng-repeat="manufacturer in manufacturers" value="{{manufacturer._id}}">{{manufacturer.name}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Lens: </td>
                            <td>
                                <select ng-model="newListLens" ng-change="updateNewLensPicture()">
                                    <option ng-repeat="listLens in targetLenses" value="{{listLens._id}}<->{{listLens.gearboxPic}}">{{listLens.name}}</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <img class="gearItem" ng-src="{{newLensPic}}">
                    <button type="submit">Submit</button>
                    <button type="button" ng-click="toggleAddLens()" ng-show="addLensWindow">Cancel</button>
                </form>
            </div>
            <div style="display: inline-block; vertical-align: top;">
                <button type="button" ng-click="toggleAddLens()" ng-show="!addLensWindow">Add Lens</button>
            </div>
            
        </div>
        
        <div class="gearboxBags gearboxRow">
            <h2>Bags</h2>
        </div>
        
        <div class="accessories gearboxRow">
            <h2>Accessories</h2>
        </div>
        
<!--
        <div class="addGear" ng-show="addWindow" style="border: 3px solid green; height: 100px; width: 100px;">
            
        </div>
        <button type="button" ng-click="addItemWindow()">Add Item</button>
-->
<!--
        <div class="addCamera addGear" ng-show="addCameraWindow">
            <h3>Add Camera</h3>
            <form ng-submit="addGearboxCamera()">
                <table>
                    <tr>
                        <td>Manufacturer: </td>
                        <td>
                            <select ng-model="cameraManufacturerID" ng-change="changeCameraManufacturer()">
                                <option value="custom">Custom</option>
                                <option ng-repeat="manufacturer in manufacturers" value="{{manufacturer._id}}">{{manufacturer.name}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Type: </td>
                        <td>
                            <select ng-model="camera.type" ng-change="changeCameraManufacturer()">
                                <option value="custom">Custom</option>
                                <option ng-repeat="type in types" value="{{type}}">{{type}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Cameras: </td>
                        <td>
                            <select ng-model="camera.fk_camera">
                                <option ng-repeat="listCamera in targetCameras" value="{{listCamera._id}}">{{listCamera.name}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Name: </td>
                        <td><input type="text" ng-model="camera.name"></td>
                    </tr>
                    <tr>
                        <td>Serial: </td>
                        <td><input type="text" ng-model="camera.serial"></td>
                    </tr>
                    <tr>
                        <td>Notes: </td>
                        <td><textarea ng-model="camera.notes"></textarea></td>
                    </tr>
                </table>
                <button type="submit">Add Camera</button>
            </form>
        </div>
        
        <div class="addLens addGear ng-hide" ng-show="addLensWindow">
            <h3>Add Lens</h3>
            <form ng-submit="addGearboxLens()">
                <table>
                    <tr>
                        <td>Manufacturer: </td>
                        <td>
                            <select ng-model="lensManufacturerID" ng-change="changeLensManufacturer()">
                                <option value="custom">Custom</option>
                                <option ng-repeat="manufacturer in manufacturers" value="{{manufacturer._id}}">{{manufacturer.name}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Lenses:</td>
                        <td>
                            <select ng-model="lens.fk_lens">
                                <option ng-repeat="listLens in targetLenses" value="{{listLens._id}}">{{listLens.name}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td><input type="text" ng-model="lens.name"></td>
                    </tr>
                    <tr>
                        <td>Serial</td>
                        <td><input type="text" ng-model="lens.serial"></td>
                    </tr>
                    <tr>
                        <td>Notes</td>
                        <td><textarea ng-model="lens.notes"></textarea></td>
                    </tr>
                </table>
                <button type="submit">Add Lens</button>
            </form>
        </div>
        
        <div class="addAccessory addGear ng-hide" ng-show="addAccessoryWindow">
            
        </div>
        
        <div class="addGearControlBar">
            <button type="button" ng-click="enableAddCamera()">{{addCameraButton}}</button>
            <button type="button" ng-click="enableAddLens()">{{addLensButton}}</button>
            <button type="button" ng-click="enableAddAccessory()">{{addAccessoryButton}}</button>
        </div>
        <div>
            <button type="button" ng-click="clearGearboxCameras()">Clear Cameras</button>
            <button type="button" ng-click="clearGearboxLenses()">Clear Lenses</button>
        </div>
    </div>
-->
    <div style="background: green; width: 120px; height: 120px" droppable>
        <h2>Experimental:</h2>
        <h2>Drop Here</h2>
    </div>
</div>