<div class="container">
    <div class="topNavBar">
        
    </div>
    <side-nav-bar>
    </side-nav-bar>

    <div class="mainWindow">
        <div class="cameras">
            
        </div>
        
        <div class="lenses">
            
        </div>
        
        <div class="bags">
            
        </div>
        
        <div class="accessories">
            
        </div>
        
        <div class="addGear">
            
        </div>
        <button type="button" ng-click="addItemWindow()">Add Item</button>
    </div>
</div>